* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px 0;
}
.profile {
  position: relative;
  text-align: center;
}
.profile h1 {
  position: relative;
  bottom: 42px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  align-self: center;
}

.about ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

main {
  display: grid;
  justify-content: center;
  flex-grow: 1;
}
main h2 {
  padding-left: 140px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 150px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.card span {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
footer > div,
address > ul {
  display: grid;
  gap: 10px;
}
address > ul ul {
  display: flex;
  gap: 10px;
}
address > ul > li > a {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width:800px) {
    footer > img {
      width: 400px;
      height: 250px;
      object-fit: cover;
    }
}
@media (max-width: 600px) {
  .about h2 {
    text-align: center;
  }
  .about ul {
    justify-content: center;
  }
  main h2 {
    padding-left: 0;
    text-align: center;
  }
  footer {
    padding: 0;
  }
  footer h2 {
    text-align: center;
  }
  address > ul ul {
    justify-content: center;
  }
}
